.layoutContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContent {
    flex: 1;
    padding: 2rem 1rem;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.topbar {
    display: block;
}

@media screen and (max-width: 960px) {
    .topbar {
        display: none;
    }

    .mainContent {
        padding-top: calc(2rem + 60px); /* Adjust 60px based on your navbar height */
    }
}