/* Page Styling */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    /*margin-left: 10%;
    margin-right: 10%;*/
    margin-top: 48px;
}

/* Headers */
.marketHeaderA h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
}

.marketHeaderB {
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
}

.marketHeaderB .mhTabs {
    display: flex;
    gap: 48px;
}

.marketHeaderB .mhTabs button {
    border: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.marketHeaderB .mhTabs button:hover {
    cursor: pointer;
}

.marketHeaderB .mhTabs div {
    padding-top: 6px;
    padding-bottom: 6px;
}

.marketHeaderB .mhTabs .tabActive {
    font-weight: 600;
    border-bottom: 2px solid #8f8f8f;
}

.marketHeaderB .mhTabs .tabActive button {
    font-weight: 600;
}

.mhMiniNav {
    display: none;
}

.mhMiniNav button {
    background: none;
    border: none;
}

.mhFilters {
    display: flex;
    gap: 24px;
    font-weight: 600;
}

.mhfPriceRange {
    display: flex;
    gap: 8px;
}

.mhFilters .filterTxt{
    margin-top: 1px;
    width: 2em;
    height: 1.6em;
    background-color: #ebebeb;
    border-radius: 4px;
    border: 1px solid rgb(205, 205, 205);
}

.mhSortArea button {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    background: none;
}

.mhSortArea button:hover {
    cursor: pointer;
}

.mhSortArea button span {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.mhSortOptions {
    border: 1px solid gray;
    border-radius: 6px;
    position: absolute;
}

.mhSortOptions div {
    padding: 1px;
    background-color: white;
    border-radius: 6px;
}

.mhSortOptions button {
    width: 100%;
    padding: 2px;
    text-align: left;
}

.mhSortOptions button:hover {
    background-color: #f0f0f0;
}

/* Main Content */
.marketContent {
    display: flex;
    gap: 24px;
}

/* DON'T hide content with this tag when not in mobile view */
.hideOnMobile {
    display: inherit;
}

@media screen and (max-width: 960px) {
    main {
        margin-top: 12px;
    }
}

@media screen and (max-width: 740px) {
    .marketHeaderB {
        flex-direction: column;
        gap: 12px;
    }

    .mhMiniNav {
        display: flex;
        gap: 16px;
        margin-top: 24px;
    }

    .hideOnMobile { /* Hide all content with this tag when mobile view is active */
        display: none;
    }
}
